body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* HERO BACKGROUND */
.hero {
    height: 100vh;
    background: url("images/football.jpg") no-repeat center center/cover;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    background: green;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: darkgreen;
}

/* SECTIONS */
section {
    max-width: 900px;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 8px;
}

h2 {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: darkgreen;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
