body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* HERO WITH YOUR PHOTO */
.hero {
    height: 100vh;
    background: url("images/myphoto.jpg") no-repeat center center/cover;
}

.overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 20px;
    margin-bottom: 25px;
}

.btn {
    background: #00c853;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.btn:hover {
    background: #009624;
}

/* FORM SECTION */
section {
    max-width: 800px;
    background: white;
    margin: 60px auto;
    padding: 40px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: green;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
}

button {
    margin-top: 25px;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

/* THANK YOU MESSAGE */
#thankYouMsg {
    display: none;
    text-align: center;
    font-size: 20px;
    color: green;
    margin-top: 30px;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
